<ul>
  <div class="content-selection">
    <select id="mySelect" onchange="npup.doSelect(this);">
      <button value="">Break</button>
      <!-- the option values are suffixes for the elements to show -->
      <option value="2">Available</option>
      <option value="2">Not Available</option>
      <option value="0">Lunch Break</option>
      <option value="1">Short Break</option>
      <option value="2">briffing</option>
    </select>
  </div>
  <!-- Timer -->

  <button value="">Logout</button>
</ul>

<!-- phone dila -->
<div id="wrapper">
  <div id="dialWrapper">
    <!-- <h6 for="phoneNo">Phone No.</h6> -->
    <!-- <input type="tel" id="phoneNo" maxlength="15" />&nbsp;
    <img
      title="Click to show or hide the dial"
      src="https://cdn4.iconfinder.com/data/icons/miu/24/editor-grid-view-block-glyph-24.png"
      alt="icon"
      id="dialIcon"
    />&nbsp; -->
    <!-- dialpad -->
  </div>
</div>

<!-- Tabs -->

<article class="tabs">
  <section id="tab1">
    <h1><a href="#tab1">Script</a></h1>
    <div id="overflowTest">
      <h4>Opening</h4>
      <p>
        Hi, my name is [name], and I’m competing on a team in the UC Davis Big
        Bang! Business Competition. We thought you may be able to offer some key
        insights and feedback regarding our business idea. We’ll use your
        feedback to help refine our proposal for the business competition. Our
        company provides [describe product or service; 1-2 sentence pitch]. Is
        now a good time for you to talk? Do you have a couple of minutes? • If
        Yes - proceed to Qualifying Questions. • If No, request a better time to
        call back and note that time. (REMINDER: Limit the conversation to 5-10
        minutes and keep track of the time.)
      </p>
      <h4>Opening</h4>
      <p>
        • Our product/service solves [describe problem]. Is this a problem that
        you’ve experienced, and if so, how much or how often? • How do you
        currently solve this problem? • Our [product/service] offers a solution
        to this problem by [describe solution provided]. If you had access to
        this solution, do you think you would use it? • What about this solution
        is potentially valuable to you? • What are your biggest concerns? • If
        this product was available today, what would you want to see or know
        before you’d consider using it?
      </p>
      <h4>Opening</h4>
      <p>
        Hi, my name is [name], and I’m competing on a team in the UC Davis Big
        Bang! Business Competition. We thought you may be able to offer some key
        insights and feedback regarding our business idea. We’ll use your
        feedback to help refine our proposal for the business competition. Our
        company provides [describe product or service; 1-2 sentence pitch]. Is
        now a good time for you to talk? Do you have a couple of minutes? • If
        Yes - proceed to Qualifying Questions. • If No, request a better time to
        call back and note that time. (REMINDER: Limit the conversation to 5-10
        minutes and keep track of the time.)
      </p>
      <h4>Opening</h4>
      <p>
        • Our product/service solves [describe problem]. Is this a problem that
        you’ve experienced, and if so, how much or how often? • How do you
        currently solve this problem? • Our [product/service] offers a solution
        to this problem by [describe solution provided]. If you had access to
        this solution, do you think you would use it? • What about this solution
        is potentially valuable to you? • What are your biggest concerns? • If
        this product was available today, what would you want to see or know
        before you’d consider using it?
      </p>
      <h4>Opening</h4>
      <p>
        Hi, my name is [name], and I’m competing on a team in the UC Davis Big
        Bang! Business Competition. We thought you may be able to offer some key
        insights and feedback regarding our business idea. We’ll use your
        feedback to help refine our proposal for the business competition. Our
        company provides [describe product or service; 1-2 sentence pitch]. Is
        now a good time for you to talk? Do you have a couple of minutes? • If
        Yes - proceed to Qualifying Questions. • If No, request a better time to
        call back and note that time. (REMINDER: Limit the conversation to 5-10
        minutes and keep track of the time.)
      </p>
      <h4>Opening</h4>
      <p>
        • Our product/service solves [describe problem]. Is this a problem that
        you’ve experienced, and if so, how much or how often? • How do you
        currently solve this problem? • Our [product/service] offers a solution
        to this problem by [describe solution provided]. If you had access to
        this solution, do you think you would use it? • What about this solution
        is potentially valuable to you? • What are your biggest concerns? • If
        this product was available today, what would you want to see or know
        before you’d consider using it?
      </p>
    </div>
  </section>

  <section id="tab2">
    <h1 style="    margin-left: -21px;"><a href="#tab2">History</a></h1>
    <div id="overflowTest">
      <table>
        <tr>
          <th>Time</th>
          <th>Duration</th>
          <th>Customer Name</th>
          <th>Call Result</th>
          <th>Recording</th>
          <th>Disposition</th>
        </tr>
        <tr>
          <td>02:11 Pm</td>
          <td>03:01</td>
          <td>James Smith</td>
          <td>Success</td>
          <td>Call Log</td>
          <td>Customer Support</td>
        </tr>
        <tr>
          <td>02:11 Pm</td>
          <td>03:01</td>
          <td>James Smith</td>
          <td>Success</td>
          <td>Call Log</td>
          <td>Customer Support</td>
        </tr>
        <tr>
          <td>02:11 Pm</td>
          <td>03:01</td>
          <td>James Smith</td>
          <td>Success</td>
          <td>Call Log</td>
          <td>Customer Support</td>
        </tr>
        <tr>
          <td>02:11 Pm</td>
          <td>03:01</td>
          <td>James Smith</td>
          <td>Success</td>
          <td>Call Log</td>
          <td>Customer Support</td>
        </tr>
        <tr>
          <td>02:11 Pm</td>
          <td>03:01</td>
          <td>James Smith</td>
          <td>Success</td>
          <td>Call Log</td>
          <td>Customer Support</td>
        </tr>
        <tr>
          <td>02:11 Pm</td>
          <td>03:01</td>
          <td>James Smith</td>
          <td>Success</td>
          <td>Call Log</td>
          <td>Customer Support</td>
        </tr>
        <tr>
          <td>02:11 Pm</td>
          <td>03:01</td>
          <td>James Smith</td>
          <td>Success</td>
          <td>Call Log</td>
          <td>Customer Support</td>
        </tr>
        <tr>
          <td>02:11 Pm</td>
          <td>03:01</td>
          <td>James Smith</td>
          <td>Success</td>
          <td>Call Log</td>
          <td>Customer Support</td>
        </tr>
        <tr>
          <td>02:11 Pm</td>
          <td>03:01</td>
          <td>James Smith</td>
          <td>Success</td>
          <td>Call Log</td>
          <td>Customer Support</td>
        </tr>
        <tr>
          <td>02:11 Pm</td>
          <td>03:01</td>
          <td>James Smith</td>
          <td>Success</td>
          <td>Call Log</td>
          <td>Customer Support</td>
        </tr>

        <tr>
          <td>02:11 Pm</td>
          <td>03:01</td>
          <td>James Smith</td>
          <td>Success</td>
          <td>Call Log</td>
          <td>Customer Support</td>
        </tr>
      </table>
    </div>
  </section>

  <section id="tab3">
    <h1 style="margin-left: -45px;"><a href="#tab3">Variables</a></h1>
    <p>This content appears on tab 3.</p>
  </section>
</article>

<!-- Scroller Scripts -->
<div class="container">
  <div class="header">
    <div class="input" align="right">
      <!-- <input type="text" /> -->
      <input type="tel" id="phoneNo" maxlength="15" />&nbsp;
    </div>

    <div class="reset" align="left">
      <button>
        <!-- <i class="icon ion-android-close"></i> -->
        <img
          title="Click to show or hide the dial"
          src="https://cdn4.iconfinder.com/data/icons/miu/24/editor-grid-view-block-glyph-24.png"
          alt="icon"
          id="dialIcon"
        />&nbsp;
      </button>
    </div>
  </div>

  <div class="body">
    <div class="row">
      <div class="col-3">
        <button>1</button>
      </div>
      <div class="col-3">
        <button>2 ABC</button>
      </div>
      <div class="col-3">
        <button>3 DEF</button>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <button>4 GHI</button>
      </div>
      <div class="col-3">
        <button>5 JKL</button>
      </div>
      <div class="col-3">
        <button>6 MNO</button>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <button>7 PQRS</button>
      </div>
      <div class="col-3">
        <button>8 TUV</button>
      </div>
      <div class="col-3">
        <button>9 WXYZ</button>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <button>*</button>
      </div>
      <div class="col-3">
        <button>0</button>
      </div>
      <div class="col-3">
        <button>#</button>
      </div>
    </div>

    <div class="row">
      <div class="col-2" align="right"></div>
      <div class="col-2" align="left">
        <button id="call">
          <i class="icon icon-call"></i>
        </button>
      </div>
    </div>
  </div>
</div>
